* {
  padding: 0;
  margin: 0;
  box-sizing: 0;

}

header {

  background-image: url(https://images.wallpaperscraft.com/image/sand_black_grains_130940_2560x1024.jpg);
  background-size: cover;
  padding: 200px;
  background-attachment: fixed;
}

h1, h2, li, a {

  color: wheat;

}

body {

  background-color: gray;

}